<div class="color-selector"
     [ngClass]="{
      'color-selector--name-error': showNameError,
      'color-selector--value-error': showValueError
     }">
  <div class="color-selector__name">
    <i class="color-selector__swatch" [style.backgroundColor]="value"></i>
    <div class="color-selector__input color-selector__input-name" *ngIf="isNew"
    [class.color-selector__input--focused]="isNameInputFocused">
      <input
        type="text"
        [value]="name"
        (Input)="onNameChange($event)"
        (focus)="onNameInputFocus()"
        (blur)="onNameInputBlur($event)"
      >
    </div>
    <span *ngIf="!isNew">{{name}}</span>
    <span *ngIf="showNameError" class="color-selector__error">
      Please enter a valid name without special characters.
    </span>
  </div>
  <div *ngIf="editable">
    <div class="color-selector__form-group">
      <div class="color-selector__input color-selector__input-value"
      [class.color-selector__input--focused]="isValueInputFocused"
           (click)="onValueInputParentClick($event)">
        <div class="color-selector__color-wrap" [style.backgroundColor]="value">
          <input type="color"
                 [(ngModel)]="value"
                 (ngModelChange)="onColorInputChange($event)"
                 tabindex="-1">
        </div>
        <input type="text"
               [(ngModel)]="inputValue"
               (ngModelChange)="onColorTextInputChange($event)"
               (focus)="onValueInputFocus()"
               (blur)="onValueInputBlur($event)">
      </div>
      <span *ngIf="showValueError" class="color-selector__error">
        Please enter a valid six digit hex code.
      </span>
    </div>
  </div>
  <div *ngIf="!editable" class="color-selector__hex">
    <span>{{value}}</span>
  </div>
</div>
